<div class="nav py-3 md:py-8 fixed w-full z-10 bg-gray-50 dark:bg-gray-700 transition-all duration-300" :class="{ 'scroll': scrolled }">
  <div class="flex justify-end px-4">
    <div class="w-8 h-8 flex justify-center items-center rounded-full md:hidden" @click="showMenu = !showMenu">
      <i class="ri-close-line" v-show="showMenu"></i>
      <i class="ri-menu-3-line" v-show="!showMenu"></i>
    </div>
  </div>
  <nav class="max-w-4xl w-full mx-auto text-center flex flex-col md:flex-row justify-center md:block" :class="`${ showMenu ? 'block' : 'hidden' }`">
    <% for (name in theme.menu) { %>
      <%- link_to(theme.menu[name], name, { class: "py-2 md:py-1 px-4 mx-4 inline-flex transition font-semibold rounded dark:hover:bg-gray-600 hover:bg-gray-200" }) %>
    <% } %>
    <%- link_to(url_for(theme.feed.path), theme.feed.text, { external: true, class: "py-2 md:py-1 px-4 mx-4 inline-flex transition font-semibold rounded dark:hover:bg-gray-600 hover:bg-gray-200" }) %>
  </nav>
</div>